/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background-color: #07294d;
  color: white;
}
.ant-layout-content {
  padding: 24px;
  background-color: white;
  color: #07294d;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #e4b004;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #e4b004;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  margin: '0px 10px';
}

.ant-menu.ant-menu-dark {
  background-color: #07294d;
}

.ant-menu-dark.ant-menu-horizontal {
  float: right;
  width: 30%;
  margin-top: 10px;
}

.ant-layout {
  background-color: #07294d;
}

.ant-upload-list-picture-card-container {
  width: 200px;
  height: 200px;
}

.ant-upload.ant-upload-select-picture-card {
  width: 200px;
  height: 200px;
}